<h1><%= @item.title %></h1>

<p>
  <strong>Description:</strong><br>
  <%= @item.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @item.status %>
</p>

<p>
  <strong>Resolved:</strong>
  <%= @item.is_resolved ? "Yes" : "No" %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @item.user.name %>
</p>

<% if @item.image_path.present? %>
  <p>
    <img src="<%= @item.image_path %>" width="200">
  </p>
<% end %>

<hr>

<% if @item.user == current_user %>
  <%= link_to "Edit", edit_item_path(@item) %> |
<% end %>
<%= link_to "Back", dashboard_index_path %>